.post {
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    /*background-color: blue;*/
    height: auto;
    overflow: hidden;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/

}

.post-title {
    margin-bottom: 0!important;
    color: black!important;
    font-weight: lighter!important;
    padding: 0.7rem 0 0.7rem 1rem!important;
    background-color: whitesmoke!important;
    border-top-left-radius: 0.3rem!important;
    border-top-right-radius: 0.3rem!important;
    border: solid 1px #cccccc!important;
    font-size: 0.95rem!important;
}

/*.post-subtitle {*/
/*    padding-top: 0.1rem;*/
/*    font-size: 0.9rem;*/
/*}*/

.post-body {
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    font-size: 0.95rem;
}

.post-body a{
    color: black;
}

.post-container {
    justify-content: center;
    border: 0;
    width: auto;
    overflow: hidden;
    /*border-radius: 0.3rem;*/
}

.post-avatar-container {
    width: 3rem;
    float: left;
    margin-right: 2rem;
}

.post-avatar-container img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.post-row {
    /*background-color: red;*/
    justify-content: center;
    width: 100%;
    /*width: 100%;*/
}

/*@media(max-width: 1032px) {*/
/*    .post {*/
/*        width: 100%;*/
/*        display: block;*/
/*        overflow: hidden;*/
/*    }*/

/*    .post-row {*/
/*        width: auto;*/
/*    }*/
/*}*/

/*@media(max-width: 768px) {*/
/*    .post-row {*/
/*        width: 10rem;*/
/*    }*/

/*    .post-container {*/
/*        width: auto;*/
/*    }*/

/*    .post-avatar-container {*/
/*        width: 50px!important;*/
/*    }*/
/*}*/

/*@media(max-width: 900px) {*/
/*    .post-title {*/
/*        padding-left: 1rem;*/
/*    }*/

/*    .post-subtitle {*/
/*        padding-left: 1rem;*/
/*    }*/

/*    .post {*/
/*        margin: 1rem 0;*/
/*    }*/
/*}*/