.thread-list {
    /*background-color: white;*/
    padding: 1rem;
}

.thread-container {
    /*background-color: white;*/
    /*min-height: 100%;*/
    /*width: 100%;*/
    /*z-index: 0;*/
    /*position: absolute;*/
}

.thread-header-content img {
    height: 10rem;
}

.thread-header-container {
    padding: 4rem 1rem 1rem 1rem;
}

@media (min-width: 1500px) {
    .thread-container {
        padding-left: 15rem;
        padding-right: 15rem;
    }
}

@media (min-width: 1700px) {
    .thread-container {
        padding-left: 25rem;
        padding-right: 25rem;
    }
}