.table-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.table-header {
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.inactive-link {
    color: gray;
}

.inactive-link:hover {
    color: gray;
}

@media (min-width: 1500px) {
    .table-container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media (min-width: 1700px) {
    .table-container {
        padding-left: 25rem;
        padding-right: 25rem;
    }
}