.thread-list {
    padding: 1rem;
    justify-content: center;
}

.thread-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.thread-inner-container {
    width: 1000px;
}

.thread-header-content img {
    height: 10rem;
}

.thread-header-container {
    padding: 4rem 1rem 1rem 1rem;
}

@media(max-width: 1032px) {
    .thread-inner-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .thread-container {
        padding-left: 0;
        padding-right: 0;
    }
}