.padded-container {
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #DEE2E6;
    padding: 2rem;
}

.weapon-dropdown {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.weapon-dropdown-toggle-button {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #66CC75;
    border-color: #66CC75;
    font-size: 0.9rem;
    color: white;
}

.weapon-dropdown-toggle-button:hover {
    background-color: #66CC75;
    border-color: #66CC75;
    color: white;
}

.weapon-dropdown-toggle-button:active,
.weapon-dropdown-toggle-button:focus {
    background-color: #66CC75!important;
    border-color: #66CC75!important;
}

.dropdown-item {
    font-size: 0.9rem;
}

.dropdown-item:hover {
    background-color: #66CC75;
    color: white;
}

.hide-container {
    display: none;
}

/* Media Queries*/
@media(max-width: 768px) {
    .item-row {
        justify-content: center;
    }

    .padded-container {
        padding: 1rem;
        border: 0;
    }
}