.post-editor {
    /*margin: 1rem 20%;*/
    /*background-color: red;*/
}

.post-editor-button {
    background-color: #66CC75;
    border: 0;
    width: 10rem;
    border-radius: 0;
    font-size: 1rem;
}

.post-editor-button:hover {
    background-color: #666633;
}

.post-editor-error-message {
    color: red;
    font-size: 0.8rem;
}

@media(max-width: 900px) {
    .post-editor {
        margin: 1rem 0;
    }

    .post-editor-button {
        margin-top: 1rem;
    }
}