.match-overview-container {
    background-color: white;
}

.match-overview {
    margin-top: 2rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: white;
    color: black;
    /*border-color: black;*/
    /*border: solid 1px;*/
}

.match-info-row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.match-overview-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: gray;
}

.match-overview-value {
    font-size: 1.3rem;
    font-weight: bold;
}

.most-cards {
    margin-top: 1rem;
    padding: 0;
}

.roster-list-container {
    padding: 0;
    margin-bottom: 3rem;
}

.roster-list-container {
    background-color: white;
}

.list-title-row {
    background-color: #e8554e;
    /*background-color: red;*/
    margin: 0;
    color: white;
    font-weight: bold;
    /*padding: 1.5rem 1rem 1.5rem 1rem!important;*/
}

.rank-title-box {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.rank-title-box:hover {
    cursor: pointer;
    background-color: #e8554e;
}

.member-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.chart-container {
    overflow: hidden;
    background-color: #f7f7f9;
    /*margin-top: 1rem;*/
    margin-bottom: 1rem;
    justify-content: center;
    max-width: 100vw;
}

.select-form {
    /*background-color: red;*/
    width: 100%;
}

.select-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: solid 3px #f7f7f9;
    width: 100%;
    margin: 0;
    justify-content: center;
    /*background-color: black;*/
    margin-top: 1rem;
    max-width: 100vw;
}

@media (max-width: 992px) {
    .match-overview {
        margin-top: 0;
    }

    .match-info-row {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media(max-width: 576px) {
    .member-title{
        display:none;
    }
}

@media (min-width: 1500px) {
    .match-overview-container {
        padding-left: 10rem!important;
        padding-right: 10rem!important;
    }
}

@media (min-width: 1700px) {
    .match-overview-container {
        padding-left: 25rem!important;
        padding-right: 25rem!important;
    }
}